.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.heading h1{
    font-size: 48px;
}
.heading p{
    font-size: 16px;
    padding-top: 10px;
    width: 700px;
    color: rgba(0, 0, 0, 0.42);
    text-align: center;
}