.category-section{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 8%;
    gap: 35px;
    padding-bottom: 50px;
    
}
.resturant-data{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 8%;
    gap: 20px;
    padding-bottom: 50px;
}